<form method="post" action="/users">
  Email: <input type="text" name="email" id="email"><br>
  Password: <input type="password" name="password" id="password"><br>
  Confirm password: <input type="password" name="password_confirmation" id="password_confirmation"><br>
  <input type="submit" name="sign_up" id="sign_up" value="Signup">
</form>
